.landing
  min-height: 100vh
  margin: 0 100px
  &>section
    max-height: 700px
    background-color: var(--light-green)
    margin: 0

@media only screen and (max-width: 1000px)
  .landing
    margin: 0

section.landing--information
  max-width: 1120px
  margin-right: 100px
  padding: 40px
  h1
    margin: 0
  .logo
    height: 120px
    margin: 32px 0
  article
    text-align: justify
    font-size: 1.3rem
    margin: 0 110px

section.landing--forms
  max-width: 500px
