.landing
  &>section
    background-color: var(--light-green)
    margin: 0

section.landing--information
  max-width: 58vw
  margin-right: 100px
  padding: 40px
  justify-content: space-evenly
  h1
    margin: 0
    text-align: center
  .logo
    height: 120px
    margin: 32px 0
  article
    text-align: justify
    font-size: 1.3rem
    margin: 0 110px

@media only screen and (max-width: 1600px)
  section.landing--information
    h1
      font-size: 2rem
    .logo
      height: 60px
      margin: 16px 0
    article
      margin: 0
      font-size: 1rem

@media only screen and (max-width: 1366px)
  section.landing--information
    margin-right: 50px
    padding: 20px
    h1
      font-size: 1.5rem
    .logo
      height: 40px
      margin: 8px 0
    article
      font-size: 0.9rem
      line-height: 1rem

@media only screen and (orientation: portrait)
  .landing
    &>section
      min-width: 100vw
      min-height: 50vh
      margin: 0
  section.landing--information
    h1
      font-weight: bold
      text-transform: capitalize
    .logo
      margin: 20px 0

section.landing--forms
  min-width: 25vw
  min-width: 300px

.forms-nav
  display: grid
  grid-template-columns: 1fr 1fr
  height: 100px
  font-family: "Muli", sans-serif
  font-size: 30px
  background-color: var(--highlight-green)
  .forms-nav-button--active
    background-color: var(--light-green)
    border-top: 10px solid var(--main-green)
    cursor: default
    pointer-events: none
