.friend-request-item
    display: flex
    background-color: white
    width: 90vw
    max-width: 350px
    align-items: center
    justify-content: space-between
    font-size: 0.9rem
    padding: 10px 0
    & + .friend-request-item
        border-top: 1px solid hsla(120, 20, 50, 1)
    &.friend-request-message
        justify-content: center

.user-details
    display: flex
    flex-grow: 1
    align-items: center
    justify-content: flex-start
    padding: 0 10px

.accept-button, .refuse-button
    min-width: 30px
    height: 30px
    border-radius: 5px
    box-shadow: inset 0 1px 0 hsl(150, 70, 90), 0 1px 3px hsla(0, 0, 0, 0.2)
    background-color: hsl(150, 50, 50)
    color: white
    cursor: pointer

.refuse-button
    box-shadow: inset 0 1px 0 hsl(0, 70, 90),  0 1px 3px hsla(0, 0, 0, 0.2)
    background-color: hsl(0, 50, 50)
    
.profile-picture
    width: 25%
    height: auto
    border-radius: 50%
    box-shadow: 0 1px 2px 1px hsla(0, 0, 0, .1)
    object-fit: cover
    margin-right: 10px
    margin-left: 10px