server.port=8443
spring.data.neo4j.uri=bolt://localhost
spring.data.neo4j.auto-index=assert
#add your neo4j info here
spring.data.neo4j.username=
spring.data.neo4j.password=
spring.jackson.time-zone=UTC
#add your mail settings here
sendgrid.api.key=

#ssl
server.ssl.enabled=true
server.ssl.key-store-type=JKS
server.ssl.key-store=src/main/resources/keystore.jks
server.ssl.key-store-password=strongpassword
server.ssl.key-alias=tomcatssl
server.compression.enabled=true

#photos
spring.servlet.multipart.enabled=true
spring.servlet.multipart.file-size-threshold=2KB
spring.servlet.multipart.max-file-size=20MB
spring.servlet.multipart.max-request-size=25MB
