@import "../node_modules/@elastic/eui/dist/eui_theme_light.css";

*:not(ol):not(ul) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
  --highlight-color: #b6ffec;
  --secondary-color: #a1e6d4;
  --bg-color: #dde6e4;
  --primary-color: #227455;
  scrollbar-color: var(--primary-color) transparent;
}

@media only screen and (max-width: 1200px) {
  html {
    font-size: 16px;
  }
}

body {
  font-family: "Karla", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Muli", sans-serif;
}

#root {
  display: flex;
  align-items: center;
  min-height: 100vh;
}
