.landing-form
  padding: 20px 40px
  label
    font-size: 18px
    font-family: "Karla", sans-serif
    font-weight: normal
    &.euiFormLabel-isFocused
      color: var(--primary-color)
      font-weight: bold
  input, .euiFormControlLayout
    height: 70px
    font-size: 24px
    font-family: "Karla", sans-serif
  input
    border: 1px solid var(--primary-color)
    border-radius: 2.5px
    background-color: #F2FFFF
    &:focus
      background-image: linear-gradient(to top, var(--primary-color), var(--primary-color) 2px, transparent 2px, transparent 100%)
  .name-inputs
    margin-bottom: 16px
    .euiFlexItem:first-child
      margin-right: 5px
    .euiFlexItem:last-child
      margin-left: 5px

.euiCheckbox 
  .euiCheckbox__input
    &:checked + .euiCheckbox__square
      border-color: var(--primary-color)
      background-color: var(--primary-color)
    &:focus + .euiCheckbox__square, &:active:not(:disabled) + .euiCheckbox__square
      border-color: var(--primary-color)
    &~ .euiCheckbox__label
      font-size: 18px


.form-button button
  height: 70px
  border-radius: 4px
  font-size: 30px
  color: black
  border-color: var(--primary-color)
  background-color: #F2FFFF
  &.euiButton--primary
    &:hover, &:focus
      background-color: #F2FFFF
      text-decoration: none
    &.euiButton--fill, &.euiButton--fill:hover, &.euiButton--fill:focus
      box-shadow: 1.5px 1.5px 3px #00000066
      background-color: var(--primary-color)
      border: none
  &.euiButton:disabled
    .euiButton__spinner
      border-color: var(--primary-color) var(--secondary-color)
      width: 30px
      height: 30px
      border-width: 3px
      animation-duration: 1s
      &+span
        display: none
  &:hover
    text-decoration: none  !important
  span
    display: flex
    justify-content: center
    align-items: center
.form-message
  padding-top: 10px
  color: #017D73
  font-weight: 600
  text-align: center

.full-width
  width: 100%